// Widescreens

@include mediaXL {
}

// Desktops & Laptops

@include mediaLg {
  .jumbotron {
    height: auto !important;
    background-size: 100% 100%;
    .app-btn {
      width: 30% !important;
    }
    h1 {
      margin-top: 10px !important;
    }
  }
}

// Tablets & Small Laptops

@include mediaMd {
  .showcase-img {
    display: none;
  }
}

@include mediaM {
  .jumbotron {
    height: auto !important;
    background-size: 100% 100%;

    h1 {
      margin-top: 10px !important;
    }
  }
}

// Phones

@include mediaSm {
  .jumbotron {
    height: auto;
    background: #1b222a !important;
    background-image: none !important;
    text-align: center;

    .app-btn {
      width: 60% !important;
      margin: 0 auto 30px auto;
    }
  }

  #feature ul li {
    font-size: 19px !important;
  }

  footer {
    a {
      float: none !important;
      text-align: center !important;
    }
    p {
      float: none !important;
      text-align: center !important;
      padding-top: 20px !important;
    }
  }
}
