$primary-color: #1caa98;

body {
  padding-top: 50px;
}

.navbar {
  a {
    padding: 20px !important;
    font-size: 20px;
    font-weight: 600;
  }
  .em-text {
    font-size: 35px !important;
  }
}
.em-text {
  color: $primary-color !important;
}

.jumbotron {
  background: url(/img/site_showcase_bg.jpg) center;
  color: #fff !important;
  height: 598px;
  overflow: none;

  h1 {
    margin-top: 120px;
  }

  p {
    margin-bottom: 50px !important;
  }
  .app-btn {
    width: 40%;
    margin-right: 30px;
  }

  .showcase-img {
    width: 75%;
  }
}

// ========================================

section {
  padding: 40px 0 40px 0 !important;

  .demo {
    width: 100%;
    padding: 5%;
    border: 1px solid grey;
  }
}

#feature {
  background: $primary-color;
  color: #fff;
  padding: 40px;
  overflow: auto;

  ul li {
    font-size: 22px;
    list-style: none;
    line-height: 2em;
  }

  .glyphicon.glyphicon-ok::before {
    padding: 6px;
  }
}

// ==========================

footer {
  background: #333;
  color: #fff;
  padding: 30px 0 20px 0;

  a {
    color: #fff;
    float: left;
    padding: 0 10px 0 10px;
    list-style: none;
  }

  p {
    float: right;
  }
}
